html, body {
    height: 100%;
}

body {
    color: #b6efdb;
    background: #1b2438;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

footer, header a , header p{
    text-align: center;
}

h1 {
    color: white;
}

article header h1 {
    margin-bottom : 0px;
}

#global {
    min-height: 100%;
    background: #a2aaa6;
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 5px 20px;
}

section {
    margin-bottom : 30px;
}
